sps_ips_android/ant/build.properties.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.1 U (http://www.xmlspy.com) by Mrad (MradFamily) -->
<!--DTD generated by XML Spy v4.1 U (http://www.xmlspy.com)-->

<!ELEMENT prop (tasks-username,application, build)>
<!ELEMENT tasks-username (#PCDATA)>
<!ELEMENT application (target)>
<!ELEMENT target (#PCDATA)>
<!ELEMENT build (process, environment,jars,sdk_path)>
<!ELEMENT process (location, compiler)>
<!ELEMENT location (#PCDATA)>
<!ELEMENT compiler (encoding,source, optimize, debug)>
<!ELEMENT encoding (#PCDATA)>
<!ELEMENT source (#PCDATA)>
<!ELEMENT optimize (#PCDATA)>
<!ELEMENT debug (#PCDATA)>
<!ELEMENT environment (#PCDATA)>
<!ELEMENT jars (#PCDATA)>
<!ELEMENT sdk_path (#PCDATA)>